/* 
Colors: 
Green - #44FFA1
Purple 900 - #24053E
Purple 500 - #584D62
Purple 100 - #FCF8FF 
White - #FFF
 
Font
Fraunces 80px Semibold 100% LH 0 LS
Fraunces 56px Semibold 120% LH 0 LS
Fraunces 32px Semibold 120% LH 0 LS
Manrope 18px Regular 180% LH 0 LS
Manrope 18px Bold 150% 0 LS

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  color: #fff;
}

.hero-background {
  background-color: #24053e;
  width: 100%;
  padding-bottom: 200px;
  position: relative;
  z-index: 1;
}

.hero-background::after {
  content: "";
  width: 100%;
  height: 200px;
  background-color: #24053e;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  transform: translateY(50%);
}

.pattern {
  position: absolute;
}

.pattern:nth-of-type(1) {
  top: 20%;
  left: -7%;
}

.pattern:nth-of-type(2) {
  right: 0;
  bottom: 40%;
}

.container {
  max-width: 1440;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 56px 156px 56px 156px;
  position: relative;
}

.cta {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  position: relative;
}

.cta::after {
  content: "";
  width: 85%;
  height: 2px;
  position: absolute;
  background-color: #44ffa1;
  bottom: 0;
  left: 8%;
  cursor: pointer;
}

.hero {
  text-align: center;
}

.title {
  font-size: 80px;
  font-weight: 600;
  font-family: "Fraunces";
  margin-bottom: 40px;
}

.learn-more {
  border: none;
  background-color: transparent;
  color: #44ffa1;
  border: 2px solid #44ffa1;
  padding: 12px 32px;
  font-weight: bold;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
}
.phone {
  position: absolute;
  z-index: 1;
  top: 40%;
  height: 400px;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 60%);
}

.benefits-background {
  width: 100%;
  background-color: #fcf8ff;
  margin-top: 0px;
  margin-bottom: 80px;
  padding: 300px 156px 80px 156px;
  z-index: -1;
  color: #24053e;
  display: flex;
  gap: 32px;
  position: relative;
}

.benefits-background::after {
  content: "";
  width: 100%;
  height: 200px;
  background-color: #fcf8ff;
  position: absolute;
  border-radius: 50%;
  z-index: 5;
  bottom: -52%;
  bottom: 0;
  left: 0;
  transform: translateY(50%);
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefit .number {
  font-family: "Fraunces";
  font-size: 24px;
  margin-bottom: 56px;
  margin-top: 100px;
  border: 1px solid #24053e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50%;
}

.benefit-title {
  font-size: 32px;
  font-family: "Fraunces";
  font-weight: 600;
  padding-bottom: 100px;
  display: inline-block;
  color: #24053e;
}

.benefit-description {
  margin-top: 28px;
  margin-bottom: 100px;
  line-height: 1.8;
  text-align: center;
}

.founder {
  margin: 300px 156px 0 156px;
  position: relative;
  height: 700px;
}

.founder-photo {
  position: absolute;
  width: 45%;
  left: 0;
  top: 0;
}

.card {
  position: absolute;
  width: 60%;
  color: black;
  background-color: grey;
  bottom: 0;
  right: 0;
  padding: 64px;
  background-color: #24053e;
  color: #fff;
}

.card-title {
  font-family: "Fraunces";
  font-size: 56px;
  margin-bottom: 32px;
}

.card-description {
  line-height: 1.8;
  margin-bottom: 32px;
}

.card-button {
  background-color: #44ffa1;
  border: none;
  font-size: inherit;
  padding: 12px 32px;
  font-weight: bold;
}

.founder-pattern {
  position: absolute;
  bottom: -20%;
  right: 20%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 112px 80px;
}

.footer-logo {
  width: 96px;
  margin-bottom: 56px;
}

.icons {
  color: #24053e;
}

.icon {
  width: 20px;
}

.icon:not(:last-child) {
  margin-right: 20px;
}
